{% extends "layout.html" %}

{% block content %}

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
         {% block photo %}
         {% load static %} <img src="{% static 'webapp/img/Entsha 2.0.jpg' %}" alt="division" style="width:100%" >
         {% endblock %}
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>New Gen</b></span> <span class="w3-hide-small w3-text-light-grey">Entsha v1.0.0</span></h1>
  </div>
</header>


<div class="jumbotron" bg-dark>
    <h1 style="color : #F5831F">Welcome to ENTSHA 2.0 </h1>
    <p class="lead" style="color : #F5831F"><marquee>ENTSHA 2.0 is a web application for New Generation Group's day to day business processes.</marquee></p>
    <p><a href="https://www.newgengroup.co.za/" class="btn btn-warning btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color : #F5831F">New Generation Group Reports</h2>
        <p style="color : #F5831F">
            View New Generation Group Reports here
        </p>
        <p><a class="btn btn-warning" href="http://3.135.17.153/projeqtor">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color : #F5831F">New Generation Contracts Navigation</h2>
        <p style="color : #F5831F">Navigate and view contracts here</p>
        <p><a class="btn btn-warning" href="https://pypi.org/">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color : #F5831F">Maps</h2>
        <p style="color : #F5831F">You can easily view locations to every site country wide with PMTAC.</p>
        <p><a class="btn btn-warning" href="http://18.222.86.86/">Click here &raquo;</a></p>
    </div>
</div>

<!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Divisions of New Generation</h3>
  </div>

<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">NGBS</div>
        <a href="NGBS/">
                    {% block logo1 %}
                     {% load static %} <img src="{% static 'webapp/Logo/NGBS/NGBS Logo-png-01.png' %}" alt="division" style="width:100%" >
                     {% endblock %}
                </a>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">IntelliView</div>
        <a href="intelliview/">
                    {% block logo2 %}
                     {% load static %} <img src="{% static 'webapp/Logo/INTELLIVIEW/Intelliview Logo-png.png' %}" alt="division" style="width:100%" >
                     {% endblock %}
                </a>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Delphius</div>
        <a href="delphius/">
                    {% block logo3 %}
                     {% load static %} <img src="{% static 'webapp/Logo/Delphius/Delphius Logo final3.png' %}" alt="division" style="width:100%" >
                     {% endblock %}
                </a>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Del Connect</div>
        <a href="del_connect/">
                    {% block logo4 %}
                     {% load static %} <img src="{% static 'webapp/Logo/Del Connect/image006.png' %}" alt="division" style="width:100%" >
                     {% endblock %}
                </a>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">NGMC</div>
        <a href="NGMC/">
                    {% block logo5 %}
                     {% load static %} <img src="{% static 'webapp/Logo/NGMC/ngg-industry-mc.png' %}" alt="division" style="width:100%" >
                     {% endblock %}
                </a>
      </div>
    </div>
  </div>

<!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p style="color:darkorange">Entsha 2.0 is a project management tool for New Generation Group to managa all projects of the New Generation Group of companies and divisions in palm of the hand. We at New Generation Group, we embrace technology and game changing tools to effectively manage our projects and sites in our space and have a paperless system for New Generation Group Management and staff.
    </p>
  </div>





{% endblock %}

