{% extends "layout.html" %}

{% block content %}

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
         {% block photo %}
         {% load static %} <img src="{% static 'webapp/img/Entsha 2.0.jpg' %}" alt="division" style="width:100%" >
         {% endblock %}
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b></b></span> <span class="w3-hide-small w3-text-light-grey">Entsha 2.0</span></h1>
  </div>
</header>


<div class="jumbotron" bg-dark>
    <h1 style="color : #F5831F">Welcome to ENTSHA 2.0 </h1>
    <p class="lead" style="color : #F5831F"><marquee>ENTSHA 2.0 is a web application for New Generation Group's day to day business processes.</marquee></p>

    <div>
     
    
    <center><a href="http://3.19.232.147/entsha"><button type="button" class="btn btn-warning">Entsha Login</button></a></center>
    </div>






{% endblock %}

