{% extends "base.html" %}

{% block content %}

<br>
<br />
<center>
<h1 style="color: orange;">Add ILO Core Daily Activity Report to the database</h1>
<br/><br/>
{% if submitted %}

New ILO Core Daily Activity was submitted successfully!!!


{% else %}

	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.media}}
		{{form.as_p}}

		<input type="submit" name="" value="submit" class="btn btn-warning">
		<a href="{% url 'view-lead' %}" class="btn btn-warning"> View ILO Core</a>

	</form>

{% endif %}


</center>



{% endblock %}