{% extends "base.html" %}

{% block content %}

<br>
<br />
<center>
<h1 style="color: orange;">Add new Delphius projects to the database</h1>
<br/><br/>
{% if submitted %}

New project was submitted successfully!!!


{% else %}

	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		
		{{form.as_p}}

		<input type="submit" name="" value="submit" class="btn btn-warning">
		<a href="{% url 'view-project' %}" class="btn btn-warning"> View projects </a>

	</form>

{% endif %}


</center>



{% endblock %}