{% extends "base.html" %}

{% block content %}

<br>
<br />
<center>
<h1 style="color: orange;">Welcome to Entsha 2.0 forms </h1>


<p> Please select the form you want to submit </p>

<a href="{% url 'add-lead' %}"><button type="button" class="btn btn-warning">New Lead</button></a> 
<a href="{% url 'add-project' %}"><button type="button" class="btn btn-warning">New Delphius Project</button></a> <br/><br/>
<a href="{% url 'add-validation' %}"><button type="button" class="btn btn-warning">Delphius Interest Validation Form</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">Radio Planner</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">ILO Core Daily Activity Report</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">ILO Health and Safety File Checklist</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">FTTx Site Form</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">OPEx Site Application</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">Daily Vehicle Inspection Checklist</button></a><br/><br/>
<a href="{% url 'add-radio' %}"><button type="button" class="btn btn-warning">Over build Audit Form</button></a><br/><br/>
</center>




{% endblock %}